# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# ML artifacts
*.db
mlruns/
mlflow.db

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/